In [1]:
ls data

gender_test_kaggle_sample_submission.csv  tr_mcc_codes.csv  transactions.csv
gender_train.csv                          tr_types.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
data_folder = './data/'

In [4]:
transactions = pd.read_csv(data_folder+'transactions.csv', sep=',')
tr_types = pd.read_csv(data_folder+'tr_types.csv', sep=';')
tr_mcc_codes = pd.read_csv(data_folder+'tr_mcc_codes.csv', sep=';')
gender_train = pd.read_csv(data_folder+'gender_train.csv', sep=',')

transactions.shape, tr_types.shape, tr_mcc_codes.shape, gender_train.shape

((6849346, 6), (155, 2), (184, 2), (8400, 2))

In [5]:
print('The number of customers for which we know their gender, but we do not have information \
about their transactions: {}\nThe number of customers for which we do not know their gender, \
but we have information about their transactions: {}'.format(
    len(set(transactions['customer_id'].unique()) - set(gender_train['customer_id'].unique())), 
    len(set(gender_train['customer_id'].unique()) - set(transactions['customer_id'].unique())))
)

The number of customers for which we know their gender, but we do not have information about their transactions: 6600
The number of customers for which we do not know their gender, but we have information about their transactions: 0

In [6]:
df = pd.merge(transactions, gender_train, on='customer_id', how='outer') 
df.shape

(6849346, 7)

In [7]:
df.head()

   customer_id tr_datetime  mcc_code  tr_type    amount term_id  gender
0     39026145  0 10:23:26      4814     1030  -2245.92     NaN     1.0
1     39026145  1 10:19:29      6011     7010  56147.89     NaN     1.0
2     39026145  1 10:20:56      4829     2330 -56147.89     NaN     1.0
3     39026145  1 10:39:54      5499     1010  -1392.47     NaN     1.0
4     39026145  2 15:33:42      5499     1010   -920.83     NaN     1.0

In [8]:
df['gender'].value_counts()

0.0    1962190
1.0    1788893
Name: gender, dtype: int64

In [9]:
df = pd.merge(df, tr_mcc_codes, on='mcc_code', how='outer') 
df.shape

(6849346, 8)

In [10]:
df = pd.merge(df, tr_types, on='tr_type', how='outer') 
df.shape

(6849429, 9)

In [11]:
df = df[~np.isnan(df["gender"])]
df.shape

(3751083, 9)

In [12]:
df.head()

,customer_id,tr_datetime,mcc_code,tr_type,amount,term_id,gender,mcc_description,tr_description
0,39026145.0,0 10:23:26,4814.0,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
1,39026145.0,6 07:08:31,4814.0,1030,-5614.79,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
2,39026145.0,8 07:06:10,4814.0,1030,-1122.96,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
3,39026145.0,11 08:49:03,4814.0,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ
4,39026145.0,11 14:12:08,4814.0,1030,-2245.92,NaN,1.0,"Звонки с использованием телефонов, считывающих...",Оплата услуги. Банкоматы СБ РФ

In [13]:
df['gender'].value_counts()

0.0    1962190
1.0    1788893
Name: gender, dtype: int64

In [14]:
df.isna().sum()

customer_id              0
tr_datetime              0
mcc_code                 0
tr_type                  0
amount                   0
term_id            1519541
gender                   0
mcc_description          0
tr_description        1505
dtype: int64

In [15]:
df.isna().sum() / len(df) * 100

customer_id         0.000000
tr_datetime         0.000000
mcc_code            0.000000
tr_type             0.000000
amount              0.000000
term_id            40.509394
gender              0.000000
mcc_description     0.000000
tr_description      0.040122
dtype: float64

In [16]:
df['customer_id'].nunique(), df['tr_type'].nunique()

(8400, 76)

In [17]:
1519541 / 3751083 * 100, 1505 / 3751083 * 100

(40.509394220282516, 0.040121746173038556)

In [18]:
df.nunique()

customer_id           8400
tr_datetime        3115033
mcc_code               184
tr_type                 76
amount              247004
term_id             311690
gender                   2
mcc_description        184
tr_description          63
dtype: int64

In [19]:
df.nunique() / len(df) * 100

customer_id         0.223935
tr_datetime        83.043564
mcc_code            0.004905
tr_type             0.002026
amount              6.584872
term_id             8.309334
gender              0.000053
mcc_description     0.004905
tr_description      0.001680
dtype: float64

In [21]:
for col in df.columns:
    print(col, df[col].nunique())
    if len(df[col]) > 100:
        print(df[col].unique()[:100])
    else:
        print(df[col].unique())
    print('-'*50)

customer_id 8400
[39026145. 52220754. 79780256.  1585299.  5524414. 35059129.  3765322.
 41870088. 39472448. 47853460. 73496527. 64294802. 58227469. 78729471.
 80573470. 73173719. 29481052. 19513764.  8681587. 94651527. 78002711.
 97634522. 19186106. 26847016. 22570682. 65605432.  2158881. 34039951.
 87618406. 85187996. 85056040. 74920867. 67755456.  2368868. 41481189.
  9156029. 93860479. 89788126.  3180911. 24796552. 51028881.  2314154.
 84027814. 66825031.  6443703.  9497605. 37521219. 85036381. 10229977.
 12500141. 52701647. 12509777. 62939779. 61024099. 46769155. 95047101.
 20525342. 87269377. 16542264.   600423. 56282562. 57195308. 60693557.
 54920864. 71591742. 90808332. 81541373. 74160301. 84906776. 46837651.
 97963238. 18967458. 50859777. 94454524.  4539433. 83805343. 68937660.
  1747627. 66388543. 71331226. 70630732. 34147053. 80776562. 89918715.
 65154870. 12280482. 33833317.  7124049. 56896548. 39193827. 57163214.
 30767842. 65477485. 50925799. 48881517. 62605812. 12678722. 42357588.
 36576755. 92270122.]
--------------------------------------------------
tr_datetime 3115033
['0 10:23:26' '6 07:08:31' '8 07:06:10' '11 08:49:03' '11 14:12:08'
 '11 14:15:30' '13 11:17:34' '18 07:39:05' '19 13:24:35' '19 13:25:31'
 '22 05:47:06' '23 12:49:27' '29 11:29:57' '33 10:06:45' '35 16:05:29'
 '37 11:38:38' '37 18:30:11' '38 15:26:57' '40 14:56:51' '44 08:01:20'
 '47 09:08:38' '51 19:03:43' '53 14:25:54' '56 18:17:08' '64 13:35:12'
 '81 07:33:39' '89 05:35:39' '92 13:28:08' '97 08:30:03' '97 08:31:17'
 '97 13:51:22' '97 13:52:34' '99 12:52:50' '104 06:09:18' '104 17:37:39'
 '104 17:44:44' '110 06:17:41' '121 16:42:14' '121 16:44:35'
 '125 13:21:47' '128 09:03:24' '134 15:48:00' '138 03:41:17'
 '142 17:17:15' '146 16:36:39' '146 16:44:55' '147 08:51:22'
 '155 11:32:16' '159 12:31:49' '159 12:33:33' '171 11:44:24'
 '187 03:40:50' '190 10:51:10' '192 11:22:35' '200 10:54:02'
 '206 14:19:30' '210 06:55:10' '214 17:14:37' '217 16:56:41'
 '226 09:25:56' '228 08:36:54' '232 12:44:02' '237 12:33:11'
 '239 12:21:30' '243 08:55:33' '272 09:13:58' '272 13:52:09'
 '272 13:53:57' '276 11:00:25' '278 06:31:38' '280 09:10:01'
 '281 15:55:03' '282 12:57:49' '283 13:55:46' '283 13:58:51'
 '283 14:01:19' '285 17:24:01' '285 18:29:00' '287 06:07:27'
 '287 06:10:24' '289 10:59:29' '291 16:18:13' '293 16:39:14'
 '297 01:24:45' '317 16:34:37' '321 11:24:39' '324 16:03:08'
 '326 07:05:40' '330 07:55:34' '330 07:56:23' '331 13:50:58'
 '333 07:05:26' '337 07:28:58' '339 09:50:17' '347 13:02:46'
 '349 13:25:40' '349 15:42:60' '349 15:43:16' '350 14:16:60'
 '352 06:49:32']
--------------------------------------------------
mcc_code 184
[4814. 4899. 4829. 5499. 5541. 5200. 5732. 5331. 5912. 5411. 5812. 6012.
 5719. 5722. 5621. 5814. 5941. 5691. 5211. 4812. 5945. 5999. 5943. 5533.
 6300. 7832. 8099. 5992. 3501. 6536. 7997. 5641. 4722. 5661. 5651. 7011.
 5699. 5942. 7298. 7999. 5712. 5511. 5399. 4900. 7538. 5949. 5977. 5948.
 5311. 4112. 8999. 5251. 4789. 5947. 3000. 8043. 5944. 5734. 5611. 5532.
 4816. 7311. 5655. 6051. 7994. 5995. 8299. 8244. 4111. 4511. 9399. 5441.
 7922. 5261. 7699. 7995. 5816. 5735. 5199. 4121. 5065. 7399. 7299. 8011.
 7230. 9222. 5946. 5994. 5094. 5047. 5072. 5045. 4215. 5099. 5193. 1711.
 6211. 8398. 5169. 4214.]
--------------------------------------------------
tr_type 76
[1030 1100 1110 1010 1200 1210 8146 8100 6200 6110 7010 2010 7014 2011
 4011 4010 4110 2110 4210 2210 7011 4031 8145 4100 7015 4035 2330 2370
 2331 4051 2371 4071 2440 4090 2340 4061 2341 1310 1410 6010 1000 1510
 6100 6210 7020 2020 7070 7030 7071 7021 7031 7074 4041 4021 2021 7040
 7034 7035 2100 4500 7024 4020 7075 4200 2200 7041 7025 4045 2000 2460
 2456 4097 2446 4096 2320 6000]
--------------------------------------------------
amount 247004
[-2.2459200e+03 -5.6147900e+03 -1.1229600e+03 -4.4918000e+02
 -3.3688700e+03 -9.6574000e+02 -4.4918300e+03 -1.3475490e+04
 -5.8394000e+02 -6.7377500e+03 -3.3689000e+02 -5.6148000e+02
 -3.2565800e+03 -3.8180600e+03 -2.0662400e+03 -1.0376130e+04
 -7.8607100e+03 -8.9836600e+03 -1.1229580e+04 -3.1442800e+03
 -1.5721400e+03 -5.0533100e+03 -2.6951000e+03 -2.2459160e+04
 -3.3688740e+04 -2.4705070e+04 -4.0426480e+04 -6.7377470e+04
 -4.2672400e+03 -8.0853000e+02 -1.4149300e+03 -4.9410000e+02
 -3.0769000e+03 -1.0331200e+03 -2.0213200e+03 -5.1656100e+03
 -1.3475500e+03 -2.2459000e+02 -2.2460000e+01 -8.9837000e+02
 -1.1005000e+03 -4.4918320e+04 -1.5721410e+04 -1.7742700e+03
 -2.8972310e+04 -8.0852970e+04 -2.9196910e+04 -3.5934650e+04
 -6.7377000e+02 -1.3924700e+03 -1.7967300e+03 -2.9196900e+03
 -4.0426500e+03 -2.7400200e+03 -1.0555800e+03 -1.6844370e+04
 -1.0106620e+04 -5.3902000e+03 -4.9410100e+03 -5.3452800e+03
 -2.2234600e+03 -5.8393800e+03 -1.4575990e+04 -4.4936300e+03
 -1.4890422e+05 -1.7967330e+04 -1.0488430e+04 -7.5013600e+03
 -2.0303080e+04 -7.6361100e+03 -3.1442820e+04 -2.9646090e+04
 -1.9988700e+03 -2.6726400e+03 -1.2414750e+04 -2.8545590e+04
 -1.4036970e+04 -3.2790400e+03 -1.2869100e+03 -7.4115200e+03
 -3.8627500e+03 -4.6041300e+03 -3.0319900e+03 -6.2886000e+02
 -2.3582100e+03 -6.0639700e+03 -4.1819000e+02 -7.4440900e+03
 -3.6204200e+03 -5.1993000e+03 -6.1088900e+03 -1.1903350e+04
 -2.1336200e+04 -1.6844400e+03 -6.5131600e+03 -7.1869300e+03
 -7.1196000e+02 -1.9764100e+03 -1.7736000e+03 -1.8641100e+03]
--------------------------------------------------
term_id 311690
[nan '888997' '888996' '90084' '84144' '888995' '475477' '456065' '873118'
 '940579' '940318' '940576' '940591' '940584' '888984' '888994' '431498'
 '888926' '90011' '888924' '888920' '888925' '888929' '888985' '888921'
 '90121' '888928' '888922' '10407474' '888930' '143898' '428661' '428693'
 '428679' '437112' '428687' '570037' '23927' '979398' '856121' '180067'
 '888927' '888910' '888923' '888986' '888991' '888904' '888915' '888908'
 '940316' '941398' '941392' '940588' '941400' '941399' '941405' '888906'
 '888912' '941402' '941395' '940310' '940861' '940581' '941397' '941404'
 '861933' '953576' '978485' '275511' '970073' '940317' '888990' '940314'
 '940035' '888987' '888993' '2012463' '888992' '786715' '888909' '941401'
 '888911' '941130' '940034' '940585' '940848' '940306' '888917' '940869'
 '940047' '979975' '941134' '940590' '941406' '888919' '888914' '888907'
 '888902' '888903' '888901']
--------------------------------------------------
gender 2
[1. 0.]
--------------------------------------------------
mcc_description 184
['Звонки с использованием телефонов, считывающих магнитную ленту'
 'Кабельные и другие платные телевизионные услуги' 'Денежные переводы'
 'Различные продовольственные магазины — рынки, магазины со спец-ассортиментом, продажа полуфабрикатов, фирменных блюд, продажа с помощью торговых автоматов'
 'Станции техобслуживания' 'Товары для дома'
 'Продажа электронного оборудования' 'Универсальные магазины' 'Аптеки'
 'Бакалейные магазины, супермаркеты'
 'Места общественного питания, рестораны'
 'Финансовые институты — торговля и услуги'
 'Различные специализированные магазины бытовых принадлежностей'
 'Бытовое оборудование' 'Готовая женская одежда' 'Рестораны, закусочные'
 'Магазины спорттоваров' 'Магазины мужской и женской одежды'
 'Лесо- и строительный материал'
 'Телекоммуникационное оборудование, включая продажу телефонов'
 'Магазины игрушек' 'Плавательные бассейны — распродажа'
 'Магазины офисных, школьных принадлежностей, канцтоваров'
 'Автозапчасти и аксессуары'
 'Продажа страхования, гарантированное размещение, премии' 'Кинотеатры'
 'Практикующие врачи, медицинские услуги, нигде ранее не классифицируемые'
 'Флористика' 'Жилье — отели, мотели, курорты'
 'Денежные переводы MasterCard MoneySend'
 'Клубы — сельские клубы, членство(спортивный, отдых, спорт), частные поля для гольфа'
 'Детская одежда, включая одежду для самых маленьких'
 'Туристические агентства и организаторы экскурсий' 'Обувные магазины'
 'Одежда для всей семьи'
 'Отели, мотели, базы отдыха, сервисы бронирования'
 'Различные магазины одежды и аксессуаров' 'Книжные магазины'
 'Центры здоровья' 'Услуги отдыха, нигде ранее не классифицируемые'
 'Оборудование, мебель и бытовые принадлежности (кроме электрооборудования)'
 'Легковой и грузовой транспорт — продажа, сервис, ремонт, запчасти и лизинг'
 'Различные товары общего назначения'
 'Коммунальные услуги — электричество, газ, санитария, вода'
 'СТО общего назначения' 'Магазины ткани, ниток рукоделия, шитья'
 'Магазины косметики' 'Магазины кожаных изделий, дорожных принадлежностей'
 'Универмаги' 'Пассажирские железные перевозки'
 'Профессиональные услуги, нигде ранее не классифицируемые'
 'Скобяные товары в розницу'
 'Услуги по транспортировке — нигде более не классифицированные'
 'Магазины открыток, подарков, новинок и сувениров'
 'Авиалинии, авиакомпании' 'Оптика, оптические товары и очки'
 'Магазины по продаже часов, ювелирных изделий и изделий из серебра'
 'Продажа компьютерного программного обеспечения'
 'Мужская одежда и аксессуары, включая одежду для мальчиков' 'Автошины'
 'Компьютерная сеть/информационные услуги' 'Рекламные услуги'
 'Спортивная одежда, одежда для верховой езды и езды на мотоцикле'
 'Не-финансовые институты — иностранная валюта, денежные переводы (непередаваемые), дорожные чеки, квази-кэш'
 'Галереи/учреждения видеоигр' 'Зоомагазины' 'Образовательные услуги'
 'Школы — бизнес и секретарей'
 'Транспортировка — пригородные и локальные сезонные транспортные средства, включая электрички'
 'Авиалинии, авиакомпании, нигде более не классифицированные'
 'Правительственные услуги, нигде ранее не классифицируемые'
 'Кондитерские' 'Театральные продюсерские агентства'
 'Садовые принадлежности (в том числе для ухода за газонами) в розницу'
 'Общий ремонт' 'Транзакции по азартным играм' 'Цифровые товары, игры'
 'Магазины звукозаписи'
 'Товары недлительного пользования, не классифицированные ранее'
 'Лимузины и такси' 'Электрические части и оборудование' 'Бизнес-сервис'
 'Иной сервис' 'Доктора, нигде ранее не классифицируемые'
 'Салоты красоты и парикмахерские' 'Штрафы'
 'Магазины фотооборудования и фотоприборов'
 'Дилеры по продаже печатной продукции'
 'Драгоценные камни и металлы, часы и ювелирные изделия'
 'Стоматологическое/лабороторное/медицинское/офтальмологическое стационарное оборудование и устройства'
 'Оборудование и сопутствующие материалы для технического обеспечения'
 'Компьютеры, периферийное компьютерное оборудование, программное обеспечение'
 'Услуги курьера — по воздуху и на земле, агентство по отправке грузов'
 'Товары длительного пользования — нигде более не классифицированные'
 'Оборудование для выращивания растений, инвентарь для питомников и цветы'
 'Генеральные подрядчики по вентиляции, теплоснабжению, и водопроводу'
 'Ценные бумаги: брокеры/дилеры'
 'Организации благотворительные и общественные службы'
 'Химикалии и смежные вещества, не классифицированные ранее'
 'Агентства по автотранспортным перевозкам, местные/дальные автогрузоперевозки, компании попереезду и хранению, местная доставка']
--------------------------------------------------
tr_description 63
['Оплата услуги. Банкоматы СБ РФ' 'Покупка. ТУ  Россия'
 'Покупка. POS ТУ Россия' 'Покупка. POS ТУ СБ РФ' 'Покупка. Зарубеж. ТУ'
 'Покупка. POS  Зарубеж. ТУ' 'н/д'
 'Списание после проведения претензионной работы'
 'Возврат  покупки. Зарубеж. ТУ' 'Возврат покупки. POS ТУ Россия'
 'Взнос наличных через АТМ (в своем тер.банке)'
 'Выдача наличных в АТМ Сбербанк России'
 'Взнос наличных через АТМ (в своем ТБ) по счету в овердрафте'
 'Выдача наличных в АТМ Сбербанка (в других ТБ)'
 'Плата за получение наличных в АТМ Сбербанка (в других ТБ)'
 'Плата за получение наличных в АТМ Сбербанка'
 'Плата за получение наличных в АТМ. Россия' 'Наличные.   АТМ Россия'
 'Плата за получение наличных в АТМ. Зарубеж.'
 'Наличные.  АТМ Зарубеж. банк' 'Взнос наличных через АТМ'
 'Плата за взнос наличных через АТМ (в другом тер.банке)'
 'Зачисление до завершения претензионной работы'
 'Плата за получение наличных. Россия'
 'Взнос наличных через АТМ (в других ТБ) по счету в овердрафте'
 'Списание с карты по операции “перевода с карты на карту” через АТМ (в пределах одного тер.банка)'
 'Списание с карты на карту по операции <перевода с карты на карту> через Мобильный банк (без комиссии)'
 'Списание с карты по операции “перевода с карты на карту” через АТМ (из одного ТБ в другой ТБ)'
 'Плата за перевод на карту (с карты) через АТМ (из одного ТБ в другой ТБ)'
 'Списание с карты на карту по операции <перевода с карты на карту> через Мобильный банк (с комиссией)'
 'Плата за перевод на карту (с карты) через Мобильный банк'
 'Списание с карты по операции “перевода с карты на карту” через POS (в пределах одного тер.банка)'
 'Плата за перевод на карту (с карты) через POS (из одного ТБ в другой ТБ)'
 'Списание с карты по операции “перевода с карты на карту” через POS (из одного ТБ в другой ТБ)'
 'Возврат  покупки. POS ТУ СБ РФ' 'Покупка.ТУ СБ РФ'
 'Возврат  покупки. ТУ Россия' 'Возврат покупки.POS Зарубеж. ТУ'
 'Взнос наличных через POS' 'Выдача наличных через POS Сбербанка'
 'Перевод на карту (с карты) через Мобильный банк (без взимания комиссии с отправителя)'
 'Перевод на карту (с карты) через АТМ (в пределах одного тер.банка)'
 'Перевод на карту (с карты) через Мобильный банк (с взиманием комиссии с отправителя)'
 'Перевод на карту (с карты) через АТМ (из одного ТБ в другой ТБ)'
 'Перевод с карты на карту в овердрафте через Мобильный банк (без взимания комиссии)'
 'Плата за взнос наличных через POS (в другом тер.банке)'
 'Плата за получение наличных через POS в Сбербанке (в других ТБ)'
 'Выдача наличных через POS Сбербанка (в других ТБ)'
 'Перевод на карту (с карты) через POS (в пределах одного тер.банка)'
 'Перевод на карту/\xa0с карты через АТМ (без взимания комиссии с отправителя) по счету в овердрафте'
 'Перевод на карту/\xa0с карты через АТМ (со взиманием комиссии с отправителя) по счету в овердрафте'
 'Наличные.  Россия' 'Плата за превыш.лимита'
 'Взнос наличных через POS (в своем ТБ) по счету в овердрафте'
 'Плата за получение наличных через POS в Сбербанке'
 'Перевод с карты на карту в овердрафте через Мобильный банк (со взиманием комиссии)'
 'Плата за получение наличных. Зарубеж.' 'Наличные.  Зарубеж. банк'
 'Перевод на карту (с карты) через POS (из одного ТБ в другой ТБ)'
 'Взнос наличных через POS (в других ТБ) по счету в овердрафте'
 'Наличные. СБ РФ' nan 'Безналичный перевод денежных средств через POS'
 'Возврат  покупки. ТУ СБ РФ']
--------------------------------------------------